* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: relative;
}

.banner {
  background-image: url("banner.jpg");
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;
  padding-top: 70px;
  text-align: center;
  font-family: Georgia;
  font-size: 3.125em;
  color: white;
}

.logo {
  position: relative;
  float: left;
}

.menu {
  background-color:white;
  float: left;
  font-size: 1.5625em;
  font-family: 'Times New Roman', Times, serif;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(191, 150, 192);
  text-align: left;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2023";  
  color: blueviolet; 
  font-weight: bold; 
  display: inline-block;  
  width: 1em; 
  margin-left: -1em; 
}

/* unvisited link */
a:link {
  color: blueviolet;
  font-size: 1.25em;
}

/* visited link */
a:visited {
  color: rgb(191, 150, 192, 0.5);
  font-size: 1.25em;
}

/* mouse over link */
a:hover {
  color: rgb(191, 150, 192, 0.5);
  font-size: 1.5625em;
}

/* selected link */
a:active {
  color: bisque;
  font-size: 1.5625em;
}

#main-heading {
  color: blueviolet;
  font-family: Georgia;
  text-align: center;
  font-size: 2.1875em;
}

#task {
  background-color: rgb(251, 229, 203, 0.5);
  border: solid;
  border-color:  rgb(191, 150, 192, 0.5);
  width: auto;
  height: auto;
}

#requirements {
  background-color: rgb(251, 229, 203, 0.5);
  border: solid;
  border-color:  rgb(191, 150, 192, 0.5);
  width: auto;
  height: auto;
}

#submission {
  background-color: rgb(251, 229, 203, 0.5);
  border: solid;
  border-color:  rgb(191, 150, 192, 0.5);
  width: auto;
  height: auto;
}

#grading {
  background-color: rgb(251, 229, 203, 0.5);
  border: solid;
  border-color:  rgb(191, 150, 192, 0.5);
  width: auto;
  height: auto;
}

/* Headings like Task, Requirements, Submission, Grading */
h2 {
  color: darkviolet;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.875em;
  text-align: center !important;
  text-decoration: underline;
}

h3 {
  color:rgb(148, 0, 211, 0.7);
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5625em;
  text-align: center;
}

/* Main text */
p, table {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.125em;
  padding-top: 7px;
  padding-right: 30px;
  padding-left: 30px;
}

/* My name */
li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.125em;
  padding-top: 2px;
  padding-right: 30px;
  padding-left: 30px;
}

#task {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  max-width: 100%;
  height: auto;
}

#photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 100%;
  height: auto;
}


li[name="name"] {
  text-align: center;
  font-size: 1.5625em;
  font-family: Georgia;
}

th, td {
  border: 1px solid;
  width: 100%;
  text-align: left;
  font-size: 1.125em !important;
  font-family: 'Times New Roman', Times, serif;
}

#grading {
  text-align: center;
  padding-bottom: 20px;
  font-size: 1.125em;
  font-family: 'Times New Roman', Times, serif;
}

h4[name="article"] {
  color: black;
  margin-left: 30px;
}

.aside {
  background-color: rgb(251, 229, 203, 0.5);
  border: solid;
  border-color:  rgb(191, 150, 192, 0.5);
  width: auto;
  height: auto;
}

footer {
    min-height: 500px;
}

.contacts {
  background-color: rgb(191, 150, 192, 0.5);
  min-height: 410px;
  float: left;
  color: black;
  font-size: 1.25em;
  font-family: Times;
  text-align: center;
}

.categories {
  background-color: rgb(191, 150, 192, 0.5);
  min-height: 410px;
  float: left;
  color: black;
  font-size: 1.25em;
  font-family: Times;
  text-align: center;
}

.quick_links {
  background-color: rgb(191, 150, 192, 0.5);
  min-height: 410px;
  float: left;
  color: black;
  font-size: 1.25em;
  font-family: Times;
  text-align: center;
}

h5 {
  color:blueviolet;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.25em;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  /* For mobile: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768) and (max-width: 1024px) {
  /* For tablet: */
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}